<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>

<p>
  <b>Twitter:</b>
  <%= @player.twitter_id %>
</p>

<p>
  <b>Games:</b>
  <% for game in @games %>
    <%= game.name =%>
    <%= link_to "Join", player_path(game.id, @player) =%>
  <% end %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
